{% extends '_static_.html' %}
{% set title = '404' %}
{% block body %}
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">{$ message or '页面不存在' $}</h2>
        </div>
    </div>
    <div class="weui-msg__opr-area">
        <div class="weui-btn-area">
            <a href="/public/pages/home" class="weui-btn bg-info">返回首页</a>
        </div>
    </div>
{% endblock %}