{% extends "_master_.html" %}
{% set title = '套餐' %}
{% block body %}
    <div id="app" style="display: none;" v-show="launched">
        <div class="weui-cells__title">套餐名称</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input" v-model="name" placeholder="请输入名称">
                </div>
                <div class="weui-cell__ft"><i v-bind:class="name | namecss"></i></div>
            </div>
        </div>
        <div class="weui-cells__title">套餐属性</div>
        <div class="weui-cells">
            <div class="weui-cell" v-for="p in properties" v-bind:key="p.id">
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input" v-model="p.value" placeholder=""
                           v-bind:placeholder="'请输入' + p.name">
                </div>
                <div class="weui-cell__ft"><i v-bind:class="p.value | propcss"></i></div>
            </div>
        </div>
        <div class="weui-cells__title">备注</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入备注" v-model="remark" maxlength="100"></textarea>
                    <div class="weui-textarea-counter"><span>{{ remark.length }}</span>/100</div>
                </div>
            </div>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area" v-show="bizid">
                <button type="button" class="weui-btn bg-primary"
                        v-bind:disabled="disableupdate"
                        v-on:click="updatebiz">保存
                </button>
            </p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/pages/biz.js?v={$ version $}"></script>
{% endblock %}