{% extends "_master_.html" %}
{% set title = '套餐管理' %}
{% block body %}
    <div id="app" style="display: none;" v-show="launched">
        <div class="weui-cells__title">{{ operatorname }}</div>
        <div class="weui-cells">
            <swipe class="weui-cell weui-cell_access weui-cell_swipe" v-for="(b, i) in bizs" v-bind:key="b.id"
                   v-bind:href="b | updatebizurl">
                <div class="weui-cell__bd weui-cell__swipetrigger">{{ b.name }}</div>
                <div class="weui-cell__ft"></div>
                <div class="weui-cell__swiper">
                    <button type="button" class="weui-cell-btn bg-warn" v-on:click="deletebiz(b, i)">删除</button>
                </div>
            </swipe>
            <a class="weui-cell weui-cell_access weui-cell_link" v-bind:href.once="createbizurl">新增套餐</a>
        </div>
        <div class="weui-loadmore weui-loadmore_line" v-show="bizs.length===0">
            <span class="weui-loadmore__tips bg-trans">暂无数据</span>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/pages/bizlist.js?v={$ version $}"></script>
{% endblock %}