{% extends "_master_.html" %}
{% set title = '运营商管理' %}
{% block body %}
    <div id="app" style="display: none;" v-show="launched">
        <div class="weui-cells__title">运营商</div>
        <div class="weui-cells">
            <swipe class="weui-cell weui-cell_access weui-cell_swipe"
                   v-for="(o, i) in operators" v-bind:key="o.id"
                   v-bind:href="o.id | bizlisturl">
                <div class="weui-cell__bd weui-cell__swipetrigger">{{ o.name }}</div>
                <div class="weui-cell__ft"></div>
                <div class="weui-cell__swiper">
                    <button type="button" class="weui-cell-btn bg-info"
                            v-on:click="entereditmode(o)">编辑
                    </button>
                    <button type="button" class="weui-cell-btn bg-warn"
                            v-on:click="deleteoperator(o, i)">删除
                    </button>
                </div>
            </swipe>
            <a class="weui-cell weui-cell_link" v-on:click="entercreatemode">添加运营商</a>
        </div>
        <div class="weui-loadmore weui-loadmore_line" v-show="operators.length===0">
            <span class="weui-loadmore__tips bg-trans">暂无数据</span>
        </div>
        <hidden-page ref="editpage" class="operator_form">
            <div class="weui-cells__title">编辑 {{ editpage.operator | operatorname }}</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell_hd"><label class="weui-label">名称</label></div>
                    <div class="weui-cell__bd">
                        <input type="text"
                               class="weui-input"
                               placeholder="输入新名称"
                               maxlength="10"
                               v-model="editpage.newname">
                    </div>
                    <div class="weui-cell__ft">
                        <i v-bind:class="editpage.newname | operatornamecss"></i>
                    </div>
                </div>
            </div>
            <div class="weui-tabbar">
                <div class="weui-tabbar__item">
                    <button type="button" class="weui-btn bg-info" v-on:click="updateoperator"
                            v-bind:disabled="disableupdateoperator">确定
                    </button>
                </div>
                <div class="weui-tabbar__item">
                    <button type="button" class="weui-btn weui-btn_default" v-on:click="exiteditmode">返回</button>
                </div>
            </div>
        </hidden-page>
        <hidden-page ref="createpage" class="operator_form">
            <div class="weui-cells__title">新增运营商</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell_hd"><label class="weui-label">名称</label></div>
                    <div class="weui-cell__bd">
                        <input type="text"
                               class="weui-input"
                               placeholder="输入运营商名称"
                               maxlength="10"
                               v-model="createpage.name">
                    </div>
                    <div class="weui-cell__ft">
                        <i v-bind:class="createpage.name | operatornamecss"></i>
                    </div>
                </div>
            </div>
            <div class="weui-tabbar">
                <div class="weui-tabbar__item">
                    <button type="button" class="weui-btn bg-info" v-on:click="createoperator"
                            v-bind:disabled="disablecreateoperator">确定
                    </button>
                </div>
                <div class="weui-tabbar__item">
                    <button type="button" class="weui-btn weui-btn_default" v-on:click="exitcreatemode">返回</button>
                </div>
            </div>
        </hidden-page>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/pages/operatorlist.js?v={$ version $}"></script>
{% endblock %}