{% extends '_static_.html' %}
{% set title = '套餐详情' %}
{% set bodycss = 'bg-page_secondary' %}
{% set p = biz['properties'] %}
{% set n = config['corp']['manager']['name'][0] %}
{% set m = config['corp']['manager']['mobile'] %}
{% block body %}
    <div class="bizpreview__title weui-flex">
        <div class="bizpreview__title__bd weui-flex__item">{$ biz['operatorname'] $}:&nbsp;{$ biz['name'] $}</div>
        <div class="bizpreview__title__ft">{$ biz.get('remark') or '' $}</div>
    </div>
    <div class="bizpreview weui-flex">
        <div class="weui-flex__item">
            <div class="weui-flex__item weui-flex">
                <div class="weui-flex__item bizpreview__cell">{$ p['i1']['value'] $}</div>
                <div class="weui-flex__item bizpreview__cell">{$ p['i2']['value'] $}</div>
            </div>
            <div class="weui-flex__item weui-flex">
                <div class="weui-flex__item bizpreview__cell">{$ p['i3']['value'] $}</div>
                <div class="weui-flex__item bizpreview__cell">{$ p['i4']['value'] $}</div>
                <div class="weui-flex__item bizpreview__cell">{$ p['i5']['value'] $}</div>
            </div>
        </div>
        <div class="bizpreview__cost">
            <div class="bizpreview__cost__hd">仅需</div>
            <div class="bizpreview__cost__bd">
                <span style="font-size: 20px;">{$ p['cost']['value'] $}</span>
                <span style="font-size: 16px;">&nbsp;元/月</span>
            </div>
        </div>
    </div>
    <div class="bizpreview__desc">详情拨打电话: <a href="tel:{$ m $}">{$ m $} {$ n $}经理</a></div>
{% endblock %}